body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(85, 85, 85);
}

.wrapper {
    display: flex;
    max-width: 1200px;
    min-width: 600px;
    width: 80%;
    margin: 200px auto;
    box-sizing: border-box;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 1em;
    text-shadow: 2px -2px 2px #fff, -2px 2px 2px #2f2f2f;
    color: bisque;
}

.block {
    box-sizing: border-box;
    display: inline-block;
    width: 30%;
    background-color: bisque;
    border: 2px solid;
    border-radius: 10px;
    /* 5 - вправо, 5 - вниз, 10 - розмір тіні, 1 - товщина тіні */
    box-shadow: 5px 5px 10px 1px;       
    padding: 30px;
    text-align: justify;
    margin-right: 20px;
    /* box-sizing: border-box;
    display: inline-block;
    width: 25%;
    background-color: bisque;
    margin-right: 20px;
    padding: 20px;
    border: 2px solid;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px;
    vertical-align: top;
    text-align: center;
    min-height: 310px; */
}

.block::before {
    content: '';
    display: block;
    width: 200px;
    height: 35px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: -55px;
    margin-left: 50px;
}